* {
  font-family: helvetica;
  /* border: solid red 1px; */
  font-size: 14px;
}
body {
  background-color: #F8F8F8;
}

img {
  width: 28px;
  height: 28px;
}

highlight {
  color: gray;
}

.page {
  display: flex;
}

/* NAVIGATION BAR */
.nav {
  background-color: white;
  border-bottom: solid lightgray 1px;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.nav input {
  height: 25px;
}

.logos {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  margin-left: 30px;
}

.logos img {
  padding-right: 15px;
  margin-right: 15px;
  width: auto;
}

.search {
  display: flex;
  justify-content: center;
}

.search input {
  background-color: #F8F8F8;
}

.profileIcons {
  justify-content: space-between;
  margin-right: 15px;
}

.profileIcons img {
  margin: 0 15px 0 15px;
}


/* LEFT COLUMN */
.leftColumn {
  width: 616px;
  display: flex;
  flex-direction: column;
  border: solid 1px lightgray;
  background-color: white;
  margin: auto;
  margin-right: 30px;
}

.leftColumn a {
  text-decoration: none;
  color: black;
}

.postBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 15px;
  padding: 15px 0px;
}

.postBanner img {
  border-radius: 50%;
}

.postBanner h3 {
  margin: 0px 8px;
}

.postImage img {
  width: 100%;
  height: 100%;
}

.postBottom {
  padding: 15px;
}

/* LIKE BAR */
.likeBar {
  display: flex;
  justify-content: space-between;
}

.start {
  display: flex;
  justify-content: space-between;
  width: 100px;
}


/* COMMENTS SECTION */
#firebeard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#firebeard img {
  width: 15px;
  height: 15px;
}

#time {
  font-size: 10px;
  color: gray;
  margin: 5px 0;
}

/* ADD COMMENT BAR */
.addComment {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}

.addComment input {
  border: none;
  width: 100%;
}


/* RIGHT COLUMN */
.rightColumn {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  margin-left: 0;
}

.rightColumn img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user img {
  width: 50px;
  height: 50px;
}

.user {
  width: inherit;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin: 0 0 20px 5px;
  align-items: center;
}

.userName {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.watch {
  width: inherit;
  height: 220px;
  border: solid 1px lightgray;
  background-color: white;
  margin-bottom: 20px;
}

.stories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.allFriends {
  height:170px;
  overflow:scroll;
  overflow-x:hidden;
}

.friends {
  width: inherit;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 40px;
  align-items: center;
  margin: 10px;
}

.friendsNames {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.strangers{
  height:160px;
  overflow:scroll;
  overflow-x:hidden;
  margin: 5px;
}

.suggestionsInside {
  display: flex;
  flex-direction: column;
}


.suggestions {
  width: inherit;
  height: 220px;
  border: solid 1px lightgray;
  background-color: white;
  padding: 0 0 5px 5px;
}

.see {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.follow {
  display: flex;
  color: #3897f0;
}

.toFollow {
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.friendsFollow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.strangerImage {
  display: flex;
}

.stranger {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pageInfo {
  margin: 12px 0;
  text-align: justify;
  color: #c7c7c7;
}

.pageInfo a {
  text-decoration: none;
  color: #c7c7c7;
  font-size: 11px;
}

.copyright {
  color: #c7c7c7;
}



/* RED ROBINS PAGE */
.rr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#rrPic img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 50px;
}

.rrProfile {
  display: flex;
  justify-content: center;
}

.allInfo {
  display: flex;
  flex-direction: column;
}

.rrName p{
  font-size: 26px;
}

.rrFolowers {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.rrFolowers p {
  font-size: 18px;
}

.rrFolowers strong {
  font-size: 18px;
}

.pictures {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.rrPosts img {
  width: 270px;
  height: 270px;
  margin: 10px;
}

.postViews {
  display: flex;
  justify-content: space-around;
}

.rrRow1 {
  display: flex;
  justify-content: space-between;
}

.rrRow2 {
  display: flex;
  justify-content: space-around;
}



/* QUERIES */
@media only screen and (max-width:600px) {
  #search {
    display: none;
  }

  .postBanner {
    background-color: transparent;
  }

  #profileIcons {
    margin-right: 0px;
  }

  .leftColumn {
    margin: 0px;
    width: 100%;
  }

  .rightColumn{
    display: none;
  }

  .pictures img {
    width: 100%;
    height: 100%;
    margin: 0px;
  }

}
